---
import GridServices from '@components/GridServices.astro';
import Layout from '@layouts/Layout.astro';
import Title from '@components/Title.astro';
---

<Layout>
	<main class="w-full h-full px-10">
		<Title />
		<GridServices />
	</main>
	<footer>

	</footer>
</Layout>
