<section class="w-full py-8 flex flex-col items-center justify-center gap-4">
  <h2 class="uppercase text-lg font-bold flex items-center justify-center gap-2 text-center text-blueElectric">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bike-icon lucide-bike"><circle cx="18.5" cy="17.5" r="3.5"/><circle cx="5.5" cy="17.5" r="3.5"/><circle cx="15" cy="5" r="1"/><path d="M12 17.5V14l-3-3 4-3 2 3h2"/></svg>

    BiciTeclas
  </h2>
  <h1 class="font-semibold text-6xl text-center">
    Mantenimiento y Servicios
  </h1>
  <h2 class="max-w-xl text-center font-medium">
    Elige el tipo de cuidado que tu bicicleta necesita. Desde ajustes rápidos hasta restauraciones completas, nuestro equipo experto está listo.
  </h2>
</section>